<div>
    <h2>
        <span jhiTranslate="jhipsterSampleApplicationApp.usuario.home.title">Usuarios</span>
        <button class="btn btn-primary float-right jh-create-entity create-usuario-my-suffix" [routerLink]="['/', { outlets: { popup: ['usuario-my-suffix-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="jhipsterSampleApplicationApp.usuario.home.createLabel">
            Create new Usuario
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="usuarios">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="codigoUsuario"><span jhiTranslate="jhipsterSampleApplicationApp.usuario.codigoUsuario">Codigo Usuario</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="nombre"><span jhiTranslate="jhipsterSampleApplicationApp.usuario.nombre">Nombre</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="apellidos"><span jhiTranslate="jhipsterSampleApplicationApp.usuario.apellidos">Apellidos</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="rol"><span jhiTranslate="jhipsterSampleApplicationApp.usuario.rol">Rol</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="departamento"><span jhiTranslate="jhipsterSampleApplicationApp.usuario.departamento">Departamento</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="idioma"><span jhiTranslate="jhipsterSampleApplicationApp.usuario.idioma">Idioma</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let usuario of usuarios ;trackBy: trackId">
                <td><a [routerLink]="['../usuario-my-suffix', usuario.id ]">{{usuario.id}}</a></td>
                <td>{{usuario.codigoUsuario}}</td>
                <td>{{usuario.nombre}}</td>
                <td>{{usuario.apellidos}}</td>
                <td jhiTranslate="{{'jhipsterSampleApplicationApp.Rol.' + usuario.rol}}">{{usuario.rol}}</td>
                <td jhiTranslate="{{'jhipsterSampleApplicationApp.Departamento.' + usuario.departamento}}">{{usuario.departamento}}</td>
                <td jhiTranslate="{{'jhipsterSampleApplicationApp.Idioma.' + usuario.idioma}}">{{usuario.idioma}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../usuario-my-suffix', usuario.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'usuario-my-suffix/'+ usuario.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'usuario-my-suffix/'+ usuario.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
